@font-face {
    font-family: Everett;
    src: url("../fonts/Everett-Regular-web.woff") format("woff");
    font-weight: normal;
}

@font-face {
    font-family: Everett;
    src: url("../fonts/Everett-Medium-web.woff") format("woff");
    font-weight: 500;
}
